<!--Search Section-->
<form [formGroup]="showForm" (ngSubmit)="handleSubmit()">
<section class="py-7" id="faq">
    <div class="container">
        <div class="row p-3">
            <div class="col-md-6 mx-auto text-center">
                <h2>Search Show</h2>
                <p class="text-muted lead">Type 3 shows, and we'll show some recommendations.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 40px">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <div class="input-group mb-3" id="search-div-show">
                        <input type="text" class="form-control" id="search-show" formControlName="showSearch" placeholder="Search shows..."  (input)="search()">
                    </div>
                <div class="search-results" *ngIf="!loading && input !== '' && shows">
                    <a class="choose-show" *ngFor="let show of shows" (click)="selectShow(show)">
                        <div class="card mb-2">
                            <div class="row no-gutters">
                                <div class="col-md-1">
                                    <img [src]="show.imageUrl ? 'https://www.thetvdb.com' + show.imageUrl : 'assets/img/show.jpg'" alt="Show Image" class="img-fluid" style="max-width: 100px;"> 
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body" id="showCardBody">
                                        <h5 class="card-title">{{ show.name }}</h5>
                                        <p class="card-text">{{ show.releaseYear }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div *ngIf="loading" class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4" *ngIf="showForm.get('selectedShows')?.value.length > 0">
        <div class="col-md-6">
            <h3>Selected Shows</h3>
            <br class="line-break-selected">
            <div class="card mb-2" *ngFor="let show of showForm.get('selectedShows')?.value">
                <div class="row no-gutters">
                    <div class="col-md-1">
                        <img [src]="show.imageUrl ? 'https://www.thetvdb.com' + show.imageUrl : 'assets/img/show.jpg'" alt="Show Image" class="img-fluid" style="max-width: 100px;"> 
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ show.name }}</h5>
                            <p class="card-text">{{ show.releaseYear }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="row justify-content-center">
        <div class="glowing-btn-wrapper mt-3 mr-3">
        <button type="submit" class='glowing-btn'  routerLinkActive="router-link-active" >
            <span class='glowing-txt'>G<span class='faulty-letter'>E</span>NERATE</span>
        </button>
        </div>
    </div>
        </form>
    
