				<!-- Wrapper -->
<!-- Two -->
<section id="two" class="wrapper spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic02.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">How It works</h2>
      <p>You give us your top 3 favorite Shows, which we then input into a magical machine.</p>
      <a routerLink="/search" class="special">Learn more</a>
    </div>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper alt spotlight style3">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic03.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Comparing</h2>
      <p>The shows are then compared to a database of over 200,000 shows worldwide, using Python Machine learning.</p>
      <a class="special" routerLink="/search">Learn more</a>
    </div>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Content-Based Filtering</h2>
      <p>The Results are then filtered according to the Shows that have the highest similarity.</p>
      <a routerLink="/search" class="special">Learn more</a>
    </div>
  </div>
</section>

