					<section id="wrapper">
						<header>
							<div class="inner">
                <div class="separator align-center">
								<h2>Find Shows</h2>
								<p>Search for at least 3 shows.</p>
                </div>
							</div>
						</header>

            <div class="wrapper spotlight style3">
              <div class="inner">
										<form method="post" action="#">
											<div class="row gtr-uniform">
												<div class="col-6 col-12-xsmall">
													<label for="demo-name">Name</label>
													<input type="text" name="demo-name" id="demo-name" value="" />
												</div>
                      </div>
                      <div class="row p-5 m-5 search-button mx-auto">
											<div class="col-6 col-12-medium">
                        <a href="#" class="button fit">Default</a>
                      </div>
                    </div>
                    </form>
                  </div>
            </div>
            

