<!--Search section-->
<section class="py-7" id="faq">
    <div class="container">
        <div class="row p-3">
            <div class="col-md-6 mx-auto text-center">
                <h2>Search Show</h2>
                <p class="text-muted lead">Type at least 3 shows, and we'll show some recommendations</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 50%; padding: 40px">
        <div class="row justify-content-center align-items-center vh-50">
            <div class="col-md-6 mx-auto">
                <form class=" bg-white rounded shadow" action="#">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search shows..." aria-label="Search shows..." aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Select</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-6 align-items-center mt-6" style="display: flex;">
        <div class="row justify-content-center align-items-center mt-6">
            <div class="col md-6 mx-auto justify-content-center">
                <div class="table-container">
                    <div class="table-record">
                        <div class="record-name">
                            Breaking Bad
                        </div>
                        <div class="record-details">
                            Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                    <div class="table-record">
                        <div class="record-name">
                            Mad Men
                        </div>
                        <div class="record-details">
                            Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                    <div class="table-record">
                        <div class="record-name">
                            Better Call Saul
                        </div>
                        <div class="record-details">
                            Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

</section>
