<!--footer-->
<footer class="py-6 pushed" id="footer">
    <div class="container" >
        <div class="row justify-content-center" >
            <div class="col-sm-5">
                <h5 class="text-center">About RECOMMENDIT</h5>
                <p class="text-muted text-center">RECOMMENDIT is a fun attempt to turn show descriptions into vectors and recommend them based on the match.
                <a class="tec-doc" routerLink="/tech-doc">Technical Documentation</a>
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2019 Recommendit - All Rights Reserved
            </div>
        </div>
    </div>
</footer>