<!--footer-->
<footer class="py-9">
    <div class="container" >
        <div class="row justify-content-center" id="footer-container">
            <div class="col-sm-5 mr-auto ">
                <h5>About RECOMMENDIT</h5>
                <p class="text-muted">RECOMMENDIT is a free fun project that lets users find show that are underrated based on what you haven't seen.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2019 Knight - All Rights Reserved
            </div>
        </div>
    </div>
</footer>