<!-- features section -->
<section class="pt-6 pb-7" id="features">
  <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto text-center">
              <h2 class="heading-black">Please wait while we search for recommendations.</h2>
              <p class="text-muted lead">Discover TV shows and share them with your friends</p>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="progress-bar-container">
            <div class="progressbar">
              <span class="progress"></span>
            </div>
          </div>
        </div>
      </div>
</div>
</section>
